.iphone4 {
	$height: 1.75em;
	line-height: $height;
	$padding: 1em;

	position: relative;

		&:after {
			content: '';
			display: block;
			position: absolute;
			top: 0; left: 0;
			width: 100%;
			height: 100%;
			@include box-shadow(rgba(0,0,0,0.35) 0 1px 2px 1px inset, rgba(black, 0.05) 0 $height/2 0 inset);
			@include border-radius($height/2);
		}

	.reswitch-inner {
		height: $height;
		@include border-radius($height/2);
		overflow: hidden;
	}

	.reswitch-toggle {
		width: $height;
		height: $height;

		.handle {
			width: 100%;
			height: 100%;
			@include border-radius($height / 2);
			background-color: #dddddd;
			@include background-image(linear-gradient(#d2d2d2, #fff));
			@include box-shadow(rgba(0,0,0,0.35) 0 0 0 1px inset, #fff 0 2px 0 0 inset);
		}
	}

	.on, .off, .toggle-placeholder {
		height: $height;
		// @include background-image(linear-gradient(rgba(255,255,255,0.15) 50%, rgba(255,255,255,0.4)));
	}

	.on, .off {
		font-weight: bold;
		text-align: center;
		text-transform: uppercase;
		white-space: nowrap;
		padding-left: $padding;
		padding-right: $padding;
	}

	.on {
		// background-color: #2692ed;
		color: white;
	}

	.off {
		// background-color: #f0f0f0;
		color: gray;
	}

	.wrap {
		height: $height;
		background-color: #f0f0f0;
		@include background-image(linear-gradient(bottom, rgba(white,0.5), rgba(white,0)));
		@include border-radius($height/2);
	}

	&.js-toggle {
		.wrap {
			@include background-image(linear-gradient(bottom, rgba(white,0.5), rgba(white,0)), linear-gradient(left, #2692ed 50%, #f0f0f0 50%));
		}
	}

	&.orange {
		.wrap {
			@include background-image(linear-gradient(bottom, rgba(white,0.5), rgba(white,0)), linear-gradient(left, #ff7f00 50%, #f0f0f0 50%));
		}

		&.is-on {
			.wrap {
				background-color: #ff7f00;
			}
		}
	}


	// IE 8, 9 fixes
	&.is-on {
		.wrap {
			background-color: #2692ed;
			.off {
				color/*\**/: white\9;
			}
		}
	}

	&.is-off {
		.wrap {
			background-color: #f0f0f0;
			.on {
				color/*\**/: gray\9;
			}
		}
	}
}